footer {
    position: relative;
    background-color: #00383f;
    color: #fff;
    padding-top: 50px;
    padding-bottom: 10px;
    text-align: center;
    a {
        transition: all linear 0.2s;
        text-decoration: none;
        color: inherit;
        &:hover {
            color: #65da99;
        }
    }
    .container {
        max-width: 1440px;
        @media (min-width: 768px) {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }
    .logoFooter {
        width: 100%;
        margin-bottom: 20px;
        @media (min-width: 1024px) {
            width: auto;
        }
    }
    address {
        margin-bottom: 20px;
        font-style: normal;
        .address {
            margin: 20px;
        }
        @media (min-width: 768px) {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 78%;
        }
        @media (min-width: 1024px) {
            width: 60%;
            border-right: solid 1px #0c777d;
            border-left: solid 1px #0c777d;
        }
    }
    .phone {
        margin: 20px;
        &:before,
        &:after {
            content: "";
            display: block;
            width: 80px;
            height: 1px;
            background: #0c777d;
            margin: 20px auto;
            @media (min-width: 768px) {
                display: none;
            }
        }
    }
    .footerLinks {
        a {
            display: inline-block;
            margin-bottom: 5px;
        }
    }
    .legalLinks {
        position: relative;
        text-align: center;
        width: 100%;
        margin-bottom: 15px;
        ul {
            padding: 0;
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: center;
            li {
                margin: 10px;
            }
        }
    }
    @media (min-width: 768px) {
        padding-bottom: 0;
    }
}

.dpNav {
    @media (min-width: 768px) {
        position: absolute;
        right: 0;
        bottom: 0;
        padding: 15px;
    }
}
