header {
    padding: 15px;
    .container {
        max-width: 1700px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
}

.header--fixed {
    transition: all linear 0.5s;
    display: none;
    position: fixed;
    z-index: 4;
    top: -200px;
    left: 0;
    width: 100%;
    background: #fff;
    padding: 0px 10px;
    border-bottom: solid 1px #ececec;
    .container {
        max-width: 1700px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logoHeader {
            max-width: 180px;
        }
    }
    .desktopNav {
        ul {
            li {
                a {
                    color: #1e3640;
                }
            }
        }
    }
    @media (min-width: 768px) {
        display: block;
    }
}

.header--fixed--visible {
    top: 0;
}
