.employeeBenefitsPage {
    .coverHome {
        padding: 80px 20px 50px;
        .container {
            .coverHomeText {
                width: 100%;
                max-width: 580px;
                h1 {
                    font-size: 40px;
                }
                h2 {
                    font-size: 20px;
                    font-family: nazare, sans-serif;
                }
                p {
                    font-size: 18px;
                }
                @media (min-width: 768px) {
                    width: 50%;
                }
            }
            @keyframes spin {
                0% {
                    transform: rotate(0deg);
                }
                100% {
                    transform: rotate(360deg);
                }
            }
            .aboutImageCover {
                position: relative;
                .aboutImageCoverBg {
                    animation: spin 15s linear infinite;
                    @include ratio(1, 1);
                }
                .aboutImageCoverBgWrapper {
                    top: 0;
                }
                .aboutImageCoverImageWrapper {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .aboutImageCoverImage {
                    width: 70%;
                    border-radius: 50%;
                    @include ratio(1, 1);
                }
                @media (min-width: 768px) {
                    width: 50%;
                    max-width: 450px;
                }
            }
        }
        @media (min-width: 768px) {
            padding: 120px 20px 50px;
        }
    }
    .homeHowCanHelp {
        position: relative;
        z-index: 3;
        padding-top: 50px;
        .container {
            width: 80%;
        }
        .homeHowCanHelpSplitContent {
            transition: linear all 0.35s;
            margin-top: 30px;
            flex-direction: row;
            border: 1px solid #d9d9d9;
            .homeHowCanHelpSplitContentCopy {
                background: #fff;
                color: #1e3640;
                font-size: 16px;
                line-height: 1.5;
                h4 {
                    margin-bottom: 15px;
                    font-family: nazare, sans-serif;
                    font-size: 24px;
                    font-weight: 700;
                }
                @media (min-width: 1024px) {
                    width: 60%;
                    padding: 40px;
                }
                @media (min-width: 1200px) {
                    padding: 50px;
                }
            }
            .homeHowCanHelpSplitContentImage {
                @media (min-width: 1024px) {
                    width: 40%;
                }
            }
            &:nth-child(2n + 2) {
                flex-direction: row-reverse;
            }
            // &:hover {
            //     .homeHowCanHelpSplitContentCopy {
            //         background-color: #00383f;
            //         color: #fff;
            //     }
            // }
        }
    }
    .bennetDifference {
        position: relative;
        z-index: 2;
        top: -80px;
        padding: 100px 0;
        background-color: #eeeeee;
        .bennetDifferenceVector {
            position: absolute;
            z-index: 1;
            max-width: 200px;
        }
        .bennetDifferenceVectorBefore {
            top: 0;
            left: 0;
        }
        .bennetDifferenceVectorAfter {
            bottom: 0;
            right: 0;
            transform: rotate(180deg);
        }
        .container {
            position: relative;
            z-index: 2;
        }
        .bennetDifferenceTitle {
            padding: 0 20px;
            max-width: 750px;
            margin: auto;
            color: #1e3640;
            font-family: nazare, sans-serif;
            text-align: center;
            margin-bottom: 35px;
            h3 {
                font-size: 32px;
                font-weight: 700;
                line-height: 1.3;
            }
            p {
                font-size: 18px;
                font-weight: 400;
                line-height: 1.3;
            }
        }
        .beneffitsLists {
            .beneffitsList {
                h4 {
                    color: #08a083;
                    font-family: nazare, sans-serif;
                    font-size: 16px;
                    font-weight: 700;
                }
                ul {
                    padding: 0;
                    list-style: none;
                    li {
                        display: flex;
                        align-items: flex-start;
                        justify-content: flex-start;
                        margin-bottom: 15px;
                        line-height: 1.3;
                        color: #1e3640;
                        font-size: 16px;
                        &:before {
                            display: inline-block;
                            margin-top: 5px;
                            margin-right: 10px;
                            content: "\f00c";
                            font: normal normal normal 14px/1 FontAwesome;
                            font-size: 16px;
                            color: #08a083;
                        }
                    }
                }
            }
            @media (min-width: 768px) {
                display: flex;
                align-items: flex-start;
                justify-content: space-around;
            }
        }
    }
    .process {
        //width: 95%;
        top: 0;
        padding: 50px 0;
        .whyChooseCopy {
            max-width: 1050px;
            width: auto;
            padding: 0;
            margin: auto;
            margin-bottom: 100px;
            text-align: center;
            .aboutMissionTitle {
                margin-bottom: 40px;
            }
            .processCopy {
                margin-top: 15px;
                padding: 0 10px;
                color: #ffffff;
                font-size: 14px;
                font-weight: 400;
            }
        }
        .processSlider {
            ul {
                li {
                    width: 20%;
                }
                @media (min-width: 768px) {
                    display: flex;
                    justify-content: center;
                }
            }
        }
        @media (min-width: 768px) {
            padding-right: 10%;
        }
        &:after {
            display: none;
        }
    }
    .insuranceFree {
        padding: 50px 0;
        .insuranceFreeTitle {
            text-align: center;
            max-width: 700px;
            padding: 0 20px;
            margin: auto;
            color: #1e3640;
            font-family: nazare, sans-serif;
            font-size: 32px;
            font-weight: 700;
            line-height: 1.5;
        }
        .container {
            .insuranceFreeCopy {
                margin: 0 20px;
                h4 {
                    color: #1e3640;
                    font-family: nazare, sans-serif;
                    font-size: 18px;
                    font-weight: 700;
                    line-height: 1.4;
                }
                ul {
                    padding: 0;
                    list-style: none;
                    li {
                        display: flex;
                        align-items: flex-start;
                        justify-content: flex-start;
                        margin-bottom: 15px;
                        line-height: 1.3;
                        color: #1e3640;
                        font-size: 16px;
                        &:before {
                            display: inline-block;
                            margin-top: 5px;
                            margin-right: 10px;
                            content: "\f00c";
                            font: normal normal normal 14px/1 FontAwesome;
                            font-size: 16px;
                            color: #08a083;
                        }
                    }
                }

                @media (min-width: 768px) {
                    width: calc(50% - 40px);
                }
            }
            .insuranceFreeImage {
                margin: 0 20px;
                max-width: 400px;
                .aboutImageCover {
                    position: relative;
                    .aboutImageCoverBg {
                        animation: spin 15s linear infinite;
                        @include ratio(1, 1);
                    }
                    .aboutImageCoverImageWrapper {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    .aboutImageCoverImage {
                        width: 70%;
                        border-radius: 50%;
                        @include ratio(1, 1);
                    }
                }
                @media (min-width: 768px) {
                    width: calc(50% - 40px);
                }
            }
            @media (min-width: 768px) {
                display: flex;
                align-items: center;
                justify-content: space-around;
            }
        }
    }
}
